.header {
    z-index: 100;
}

.header__heading {
    position: fixed;
    text-align: left;
    padding-left: 52pt;
    padding-top: 32pt;
    font-family: DINLight;
    font-size: 20pt;
    transition: opacity 1.33s ease;
    cursor: pointer;
    z-index: 100;
}
@media (max-width: 992px) {
    .header__heading {
        width: 100%;
        text-align: center;
    }
}

.header__logo {
    width: 32pt;
    margin-right: 12pt;
}

.header__placeholder {
    display: inline-block;
    padding-top: 32pt;
    width: 100%;
    height: 18pt;
}