.platform-links {
    display: inline-block;
    width: 100%;
}

.platform-links__links {
    display: inline-block;
    overflow: hidden;
    transition: height 1.33s ease;
    min-width: 66%;
    margin-top: 36pt;
}