
.platform-links__row {
    margin-bottom: 28.66pt;
    width: 100%;
}

.platform-links__icon-col {
    text-align: center;
}
.platform-links__icon {
    max-width: 36px;
}

.platform-links__text-col {
    padding-left: 32pt;
    line-height: 36px;
    font-size: 14pt;
}

.platform-links__icon--invert {
    filter: invert(100%);
}

