body {
    font-family: Andale Mono, monospace;
    background-color: #060516;
    color: #fff;
}

section {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 64pt;
}

a {
    outline: none;
}

.landing {
    text-align: center;
    background: linear-gradient(0deg, rgba(255,255,255,0.11) 0%, rgba(0,0,0,0) 44%);
}

.landing .row {
    width: 100%;
}

@media (max-width: 992px) {
    .landing .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.landing .canvas-container {
    display: inline-block;
    position: relative;
    margin-top: 0vh;
}

@media (orientation: landscape) {
    .landing .canvas-container {
        left: 22vh;
        width: 100%;
        height: 90vh;
    }
}

@media (orientation: portrait) {
    .landing .canvas-container {
        width: 90vw;
        height: 90vw;
    }
}

.landing .row .text-left {
    position: static;
}

.landing .glow-spots {
    position: absolute;
    width: 100%;
    height: 100%;
}


.enquiries h2 {
    position: relative;
    margin-left: 90pt;
    margin-top: 32pt;
    margin-bottom: 12pt;
}

@media (max-width: 767px) {
    .enquiries h2 {
        margin-left: 0;
        text-align: center;
    }
}

.details {
    margin-top: 36pt;
}

.details .row {
    margin-bottom: 28.66pt;
}

.details img {
    max-width: 36px;
}

.details .col-3 {
    text-align: center;
}

.details .col-9 {
    padding-left: 32pt;
    line-height: 36px;
    font-size: 14pt;
}

.portfolio {
    background: linear-gradient(0deg, rgba(255,255,255,0.33) 0%, rgba(255,255,255,0.11) 100%);
}

.wishart {
    width: 100%;
    position: relative;
    z-index: 11;
    font-family: "Cuprum", serif;
}
.wishart .banner {
    background-color: black;
    max-width: 640pt;
    min-height: 20vh;
    margin-top: 18.8vh;
    transform: scale(0.66);
}
.wishart .row {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0pt 4pt 4pt rgba(0, 0, 0, 0.44));
}
.wishart .col-6 {
    z-index: 1;
}

.wishart .left {
    background-color: #fff;
    transform: skewX(20deg) translateX(-50%) scaleX(1.0);
}

.wishart .right {
    background-color: #7cd4e2;
    transform: skewX(20deg) translateX(66%) scaleX(1.0) ;
}
.wishart .logo {
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: 12pt;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -44%);
}
.wishart .logo img {
    height: 20vh;
    position: relative;
    z-index: 10;
    filter: drop-shadow(0pt 6pt 2pt rgba(0, 0, 0, 0.99));
}
.wishart .logo p {
    position: relative;
}
@media (orientation: landscape) {
    .wishart .logo p {
        font-size: 6.66vh;
    }
}
@media (orientation: portrait) {
    .wishart .logo p {
        font-size: 6.66vw;
    }
}
.wishart .logo p i {
    margin-left: 33%;
}