
@font-face {
    font-family: DINLight;
    src: url(/fonts/DINLight.ttf);
}
@font-face {
    font-family: DINRegular;
    src: url(/fonts/DINRegular.ttf);
}

body {
    font-family: Andale Mono, monospace;
    background-color: #060516;
    color: #fff;
}

section {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 64pt;
}

a {
    outline: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

h2 {
    font-family: DINRegular;
    font-size: 42pt;
    letter-spacing: 2pt;
    color: rgba(255,255,255,0.8333);
}

.landing {
    text-align: center;
    background: linear-gradient(0deg, rgba(255,255,255,0.11) 0%, rgba(0,0,0,0) 44%);
}

.landing h1 {
    position: fixed;
    padding-top: 32pt;
    font-size: 20pt;
    font-family: DINLight;
    transition: opacity 1.33s ease;
    cursor: default;
    z-index: 10;
}

@media (max-width: 992px) {
    .landing h1 {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 993px) {
    .landing h1 {
        text-align: left;
        padding-left: 52pt;
    }
}

.landing h1 img {
    width: 32pt;
    margin-right: 12pt;
}

.landing .title-placeholder {
    display: inline-block;
    padding-top: 32pt;
    width: 100%;
    height: 18pt;
}


.landing .row {
    width: 100%;
}

@media (max-width: 992px) {
    .landing .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.landing .canvas-container {
    display: inline-block;
    position: relative;
    margin-top: 0vh;
}

@media (orientation: landscape) {
    .landing .canvas-container {
        left: 22vh;
        width: 100%;
        height: 90vh;
    }
}

@media (orientation: portrait) {
    .landing .canvas-container {
        width: 90vw;
        height: 90vw;
    }
}

.landing .row .text-left {
    position: static;
}

.landing .glow-spots {
    position: absolute;
    width: 100%;
    height: 100%;
}


.enquiries h2 {
    position: relative;
    margin-left: 36pt;
    margin-top: 32pt;
    margin-bottom: 12pt;
}

@media (max-width: 767px) {
    .enquiries h2 {
        margin-left: 0;
        text-align: center;
    }
}

.details {
    margin-top: 36pt;
}


.details .row {
    margin-bottom: 28.66pt;
}

.details img {
    max-width: 36px;
}

.details .col-3 {
    text-align: center;
}

.details .col-9 {
    padding-left: 32pt;
    line-height: 36px;
    font-size: 14pt;
}

.portfolio {
    background: linear-gradient(0deg, rgba(255,255,255,0.33) 0%, rgba(255,255,255,0.11) 100%);
}

.portfolio h2 {
    text-align: center;
}

.portfolio .horizontal-spacer {
    position: relative;
    left: 12%;
    width: 88%;
    margin-top: 8pt;
    border-top: 2pt dotted rgba(255, 255, 255, 0.66);
}

.portfolio .vertical-spacer {
    position: absolute;
    width: 88%;
    height: 100%;
    top: -11%;
    border-right: 2pt dotted rgba(255, 255, 255, 0.66);
    display: inline-block;
    z-index: -10;
}

.wishart {
    width: 100%;
    position: relative;
    z-index: 11;
    font-family: "Cuprum", serif;
}
.wishart .banner {
    background-color: black;
    max-width: 640pt;
    min-height: 20vh;
    margin-top: 12vh;
    transform: scale(0.66);
    transition: transform 333ms ease;
}
.wishart .row {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0pt 4pt 4pt rgba(0, 0, 0, 0.44));
}
.wishart .col-6 {
    z-index: 1;
}

.wishart .left {
    background-color: #fff;
    transform: skewX(20deg) translateX(-50%) scaleX(1.0);
}

.wishart .right {
    background-color: #7cd4e2;
    transform: skewX(20deg) translateX(66%) scaleX(1.0) ;
}
.wishart .logo {
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-top: 12pt;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -44%);
}
.wishart .logo img {
    height: 20vh;
    position: relative;
    z-index: 10;
    filter: drop-shadow(0pt 6pt 2pt rgba(0, 0, 0, 0.99));
}
.wishart .logo p {
    position: relative;
}
@media (orientation: landscape) {
    .wishart .logo p {
        font-size: 6.66vh;
    }
}
@media (orientation: portrait) {
    .wishart .logo p {
        font-size: 6.66vw;
    }
}
.wishart .logo p i {
    margin-left: 33%;
}